<h1>Create New User</h1>
<p><%= link_to '- Click here to create new user -', new_user_path %></p>
<h1>List of Users</h1>
<% @users.each do |user| %>
   <h2><%= "#{user.first_name} #{user.last_name}" %> </h2>
   <%= link_to 'User info', user_path(user)%>
   <%= link_to 'Edit User', edit_user_path(user) %>
   <%= link_to 'Delete User', user, method: :delete %>

<% end %>