<h1>Users#new</h1>
<h1>New User</h1>
<%= form_for @user do |f| %>
  <%= f.label :firstname %>
  <%= f.text_field :firstname %>

  <%= f.label :lastname %>
  <%= f.text_field :lastname %>

  <%= f.label :age %>
  <%= f.text_field :age %>

  <%= f.label :haircolor %>
  <%= f.text_field :haircolor %>

  <%= f.label :eyecolor %>
  <%= f.text_field :eyecolor %>

  <%= f.label :gender %>
  <%= f.text_field :gender %>

  <%= f.submit %>
<% end %>
