<h1>Users Info</h1>

    <h2><%= "#{@users.first_name} #{@users.last_name}" %> </h2>
    <h3>Age: <%= @users.age %></h3>
    <h3>Hair color: <%= @users.hair_color %></h3>
    <h3>Eye color: <%= @users.eye_color %></h3>
    <h3>Gender: <%= @users.gender %></h3>
    <h3>Still alive: <%=@users.alive %> </h3>
    <%= link_to 'Back', users_path %>
   

